In [1]:
import pandas as pd

In [2]:
file_path = 'C:/Semester 5/Data Mining/Pert 4/Formula1 Stats 1998-2021.xlsx'

In [3]:
df = pd.read_excel(file_path)

In [4]:
df.head()

,Driver,1998,1999,2000,2001,2002,2003,2004,2005,2006,...,2012.1,2013.1,2014.1,2015.1,2016.1,2017.1,2018.1,2019.1,2020.1,2021.1
0,Verstappen*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,Hamilton*******,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,2.0,4.0,2.0,3.0,3.0,3.0,2.0,2.0
2,Bottas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,3.0,4.0,2.0,3.0,2.0,2.0,2.0,6.0,3.0
3,Perez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,5.0,5.0,9.0,6.0,9.0,6.0,4.0,3.0,4.0
4,Sainz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,4.0,8.0,6.0,9.0,6.0,4.0,5.0,5.0,5.0

In [5]:
missing_values = df.isnull().sum()

In [6]:
missing_values

Driver           0
1998           101
1999           100
2000           101
2001           106
2002           102
2003           100
2004            99
2005            99
2006            97
2007            98
2008           102
2009            99
2010            97
2011            96
2012            99
2013           101
2014           100
2015           103
2016           100
2017            99
2018           104
2019           104
2020           101
2021           103
Unnamed: 25    124
Unnamed: 26     98
1998.1         113
1999.1         114
2000.1         113
2001.1         114
2002.1         113
2003.1         114
2004.1         114
2005.1         114
2006.1         113
2007.1         113
2008.1         113
2009.1         114
2010.1         112
2011.1         112
2012.1         112
2013.1         113
2014.1         113
2015.1         114
2016.1         113
2017.1         114
2018.1         114
2019.1         114
2020.1         114
2021.1         114
dtype: int64

In [21]:
df = pd.read_excel(file_path)

In [22]:
df_filled = df.fillna(df.median(numeric_only=True))

In [23]:
win_column = df_filled.columns[-1]

In [24]:
drivers_wins = df_filled[['Driver', win_column]]

In [25]:
drivers_wins_sorted = drivers_wins.sort_values(by=win_column, ascending=False)

In [26]:
drivers_wins_sorted.head(10)

        Driver  2021.1
9     Alonso**    10.0
8        Gasly     9.0
7    Ricciardo     8.0
6      Leclerc     7.0
5       Norris     6.0
87    Monteiro     5.5
82       Speed     5.5
83      Albers     5.5
84  Winkelhock     5.5
85     Montoya     5.5